:root {
    /* Light mode variables */
    --bg-color: #ffffff;
    --text-color: #333333;
    --link-color: #2c98f0;
    --link-hover-color: #1d6ccd;
  }
  
  body[data-theme="dark"] {
    /* Dark mode variables */
    --bg-color: #111111;
    --text-color: #dddddd;
    --link-color: #1d6ccd;
    --link-hover-color: #1d6ccd;
  }
  
  body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: var(--link-color);
  }
  
  a:hover {
    color: var(--link-hover-color);
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    color: #cecece;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

header {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    color: var(--text-color);
    font-size: 36px;
}

nav {
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:var(--text-color);
    font-size: 18px;
}

nav ul li a:hover {
    color: #37ff37;
}

section {
    padding: 40px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color:var(--text-color);
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

/* a {
    text-decoration: none;
    color: #2c98f0;
}

a:hover {
    color: #1d6ccd;
} */

footer {
    var(--bg-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    width: 100%;
}
/* New styles for individual blog post pages */

.post-date {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 20px;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

article h1 {
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Toggle button styles */

#theme-toggle {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 8px;
    color: var(--text-color);
    font-size: 18px;
    padding: 16px;
    line-height: 1;
  }
  
  #sun-icon, #moon-icon {
    transition: display 0.3s ease;
  }
  
  #theme-toggle:hover {
    color: var(--link-hover-color);
  }
  

/* Footer iframe styles */

footer iframe {
    /* ... */
    position: relative;
  }
  
  footer iframe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition when changing themes */
    pointer-events: none; /* Prevents the pseudo-element from blocking clicks */
  }
  
  body[data-theme="dark"] footer iframe::after {
    opacity: 0.4; /* Adjust opacity for dark theme */
  }
  

  /* Social links styles */

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .social-links a {
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  
    /* Set the initial color based on the light theme */
    color: #000;
  }
  
  .social-links a:hover {
    /* Set the hover color for the light theme */
    color: rgba(0, 0, 0, 0.6);
  }
  
  /* Dark mode styles */
  
  body[data-theme="dark"] .social-links a {
    /* Set the color for the dark theme */
    color: #fff;
  }
  
  body[data-theme="dark"] .social-links a:hover {
    /* Set the hover color for the dark theme */
    color: rgba(255, 255, 255, 0.6);
  }
  
  